extends ../node_modules/jade-bootstrap/_bootstrap

head
  title=title
block body
  +navbar("This is the title of the Navbar", "dropdown_menu")
    +nav_item("/", "active") Home
    +nav_item("/list") Stock
  .container
    +carousel("SampleVideos", [
      {image:"http://edshigginsblog.files.wordpress.com/2011/04/hot-cross-buns-3.jpg",p:"THAT'S RIGHT"}
    ])
	
    p Welcome to #{title}. Fuck it man, let's make this a little different at least...
