extends layout

//- VARIABLES: title


append styles
  link(rel='stylesheet', href='/stylesheets/index_style.css')

block body
  +navbar("Colenso Project", "dropdown_menu")
    +nav_item("/", "active") Home
    +nav_item("/browse") Browse
    +nav_item("/search") Search
    +nav_item("/upload") Upload



  
  .jumbotron
    h1 The Colenso Project
    p The life and times of William Colenso (1811 - 1899)


  .container
    .col-lg-4
      h2 Browse
      p Browse the letters and diaries of William Colenso and people related to him.
      p
        a.btn.btn-default(href='/browse', role='button') Browse Files »
    .col-lg-4
      h2 Search
      p Search through the database using string literals and XQuery search methods.
      p
        a.btn.btn-default(href='/search', role='button') Search Files »
    .col-lg-4
      h2 Upload
      p Add new XML files to the Colenso database.
      p
        a.btn.btn-default(href='/upload', role='button') Upload Files »