extends layout

//- VARIABLES: title


append styles
  link(rel='stylesheet', href='/stylesheets/index_style.css')

block body
  +navbar("Database", "dropdown_menu")
    +nav_item("/", "active") Home
    +nav_item("/browse") Browse
    +nav_item("/upload") Upload
    +nav_item("/search") Search


  
  .jumbotron
    h1 The Colenso Project
    p The life and times of William Colenso (1811 - 1899)


//-   // HTML WAY TO SEND QUERY
//-   form(action="/", method="get")
//-      input(type="text", name="text_box")
//-      input(type="submit", value="Words")