extends layout

//- VARIABLES: title, folders, query, result

block body
  +navbar("Database", "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/browse") Browse
    +nav_item("/search", "active") Search


  
  .sidebar-wrapper
    ul.nav.nav-sidebar
      p #{folders}


  .container
    h3 XQuery
    form(action="/search", method="get")
      .input-group
        input.form-control(type='text', placeholder='XQuery Search...', name="xquery_box")
        span.input-group-btn
          button.btn.btn-default(type='submit') Go!

    h3 BaseX
    form(action="/search", method="get")
      .input-group
        input.form-control(type='text', placeholder='Basex Command...', name="basex_box")
        span.input-group-btn
          button.btn.btn-default(type='submit') Go!


    h4 Command
    pre
      p #{query}
    h4 Result
    pre
      p #{result}