extends layout

//- VARIABLES: title, folders, xqquery, xqresult, strquery, strresult

block body
  +navbar("Colenso Project", "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/browse") Browse
    +nav_item("/search", "active") Search
    +nav_item("/upload") Upload
    



  .container

    ul.nav.nav-tabs
      li.nav.active
        a(href="#xquery", data-toggle="tab") XQuery Search
      li.nav
        a(href="#string", data-toggle="tab") String Search


    .tab-content

      #xquery.tab-pane.fade.in.active
        h3 XQuery
        form(action="/search", method="get")
          .input-group
            input.form-control(type='text', placeholder='XQuery Search...', name="xquery_box")
            span.input-group-btn
              button.btn.btn-default(type='submit') Search
        h4 Command
        pre
          p #{xqquery}
        h4 Result
        !{xqresult}

      #string.tab-pane.fade
        h3 String Literals
        form(action="/search#string", method="get")
          .input-group
            input.form-control(type='text', placeholder='String', name="string_box")
            span.input-group-btn
              button.btn.btn-default(type='submit') Search
        h4 Command
        pre
          p #{strquery}
        h4 Result
        ul.list-group
          | !{strresult}


  