extends layout

//- VARIABLES: title, message
append styles
  link(rel='stylesheet', href='/stylesheets/upload_style.css')

append scripts
  script(src="/scripts/upload_js.js")

block body
  +navbar("Colenso Project", "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/browse") Browse
    +nav_item("/search") Search
    +nav_item("/upload", "active") Upload
    
        
  .container

    form(action="/upload", method="get")

      h3 Choose File
      input(type="file", name="fileSrc")

      h3 Choose Location
      .input-group
        span#basic-addon3.input-group-addon Database Location:
        input#basic-url.form-control(type='text', aria-describedby='basic-addon3', name="fileDest")

      h3 Upload
      input.btn.btn-primary(type="submit")

      pre #{message}