extends layout

block body
  +navbar("Database", "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/users", "active") Users
    +nav_item("/list") Error
  .container
    h1=title
    p Welcome to #{title}
    p NEW THING. THING. YES.
