extends layout

//- VARIABLES: title, docTitle, content

block body
  +navbar("Database", "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/browse", "active") Browse
    +nav_item("/upload") Upload
    +nav_item("/search") Search
        

  

  .container
    h3 #{docTitle}

    a.btn.btn-primary(href="PrLElizbthC-0001.xml" download) Download

    form(method="get" action="/download"+docTitle)
      button.btn.btn-primary(type="submit") Download from /download


    ul.nav.nav-tabs
      li.nav
        a(href="#text", data-toggle="tab") Text
      li.nav.active
        a(href="#xml", data-toggle="tab") XML




    .tab-content
      #text.tab-pane.fade !{content}
      #xml.tab-pane.fade.in.active #{content}