extends layout

//- VARIABLES: title, docTitle, content

block body
  +navbar("Database", "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/browse", "active") Browse
    +nav_item("/search") Search
        

  

  .container
    h3 #{docTitle}
    

    ul.nav.nav-tabs
      li.nav.active
        a(href="#text", data-toggle="tab") Text
      li.nav
        a(href="#xml", data-toggle="tab") XML




    .tab-content
      #text.tab-pane.fade.in.active !{content}
      #xml.tab-pane.fade #{content}