.jumbotron {
  margin-bottom: 0px;
  background-image: url(../images/illegal_af.png);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0.2em 0.2em 0.2em;
  padding-left: 10%;
  padding-top: 15%;
  padding-bottom: 15%;
}
